hs37d5.fa                                                                                         
hs37d5.fa.gz                                                                                         
hs37d5.fa.gz.fai
hs37d5.fa.fai                                                                           